body{
    background-image: url(../images/cows-8114279.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
.nav-bar{
    display: flex;
    flex: 1;
    background-color: antiquewhite;
    
    height: 100px;
    position: relative;
    
}
.logo{
    width: 120px;
    cursor: pointer;
    position: absolute;
    left: 25px;
    top: 10px;
}
.search-bar{
    position: absolute;
    left: 370px;
    top: 40px;
    width: 825px;
    height: 20px;
    border-radius: 8px;
}
.icon-search, .icon-user,.icon-favourite,.icon-cart{
    position: absolute;
    left: 1225px;
    width: 20px;
    top: 40px;
    cursor: pointer;
}
.icon-user{
    position: absolute;
    left: 1350px;
    cursor: pointer;
    
}
.icon-favourite{
    position: absolute;
    left: 1425px;
    width: 25px;
}
.icon-cart{
    position: absolute;
    left: 1495px;
    width: 25px;
}
.login-form{
    position: absolute;
    left:500px;
    top: 250px;
    border-width: 1px;
    width: 500px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-style: outset;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
h2{
    font-family: 'Inter';
    font-weight: 500;
    text-align: center;
}
input{
    position: absolute;
    left: 14px;
    width: 93%;
    height: 25px;
}
button{
    width: 93%;
    position: absolute;
    top: 120px;
    left: 17px;
    height: 30px;
    border-color: #02aeef;
    background-color: #19bffc;
    cursor: pointer;
    border-style: none;
    color: white;
    font-family: 'Lato';
    transition: background-color 1s opacity 1s;
}
button:hover{
    background-color: #40c8fa;
    opacity: 0.7;
}
p{
    position: absolute;
    top: 170px;
    left: 150px;
    font-family: 'Lato';
}